*.swp
*.log
*.bz2
*.gz
*.o
*.trs
*.log

log
.deps
Makefile
Makefile.in
.dirstamp

/COPYING
/INSTALL
/aclocal.m4
/autom4te.cache/
/compile
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/test-driver

/include/config.h
/include/config.h.in
/include/stamp-h1

/sources/paper-football

/validation/insider
/validation/validation.sh
